
.footer_style{
    background-color: #afcbff;
    .logo_footer{
        width: 10.5rem;
        box-sizing: border-box;
        border-radius: 10px;
    }
}
.footer_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    section{
        text-decoration: solid;
        font-size: 100%;
        align-items: center;
        font-style:inherit;
        font-weight: bolder;
        color: #021650;
    }
}
ul{
    list-style: none;
    li{
        margin: 1rem;
    }

}
